
#im{ 
position:relative; 
text-align: center;
font: italic small-caps bold 120px/80px Georgia, serif ;
color : white ;

}
body{
font: italic  bold 40px Georgia, serif ; 
position:relative; 
text-align: center;
background-image: url("https://media.giphy.com/media/26ufaAfqiUDlOXZQc/giphy.gif");
background-size: cover;
color: white ;
}
.but{
	border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
}
                