.wel{
position:relative; 
text-align: center;
font: italic small-caps bold 60px/40px Georgia, serif ;
color : black ;4

}
body {
	position: relative;
	text-align: center;
	background-image: url("https://media.giphy.com/media/26ufaAfqiUDlOXZQc/giphy.gif");
	background-size: cover;	
}
input {
    border: 5px solid black;
    width: 130px;
    height:260px;
}



.front {
    background-image: url("CARD.PNG");
    background-size: 110px 250px;
   
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.list {
border: 2px solid black ;
width: 5px;
height:5px;
}
#values {
    width: 96vw;
    height:10vh;
    border-collapse: collapse;
    padding: 0;
    table-layout: fixed;
    background-color: white ;
}
